@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('article.css');
@import url('responsive.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

h2, h3 {
    line-height: 4rem;
}

blockquote {
    font-size: 2rem;
    padding: 2rem;
    line-height: 2.5rem;
}

/* Grid and Flexbox structure */

#container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "nav nav nav"
        "header header header"
        "cards cards cards"
        "footer footer footer";
}

nav {
    background: white;
    grid-area: nav;
}

header {
    grid-area: header;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #D0F0A8;
}

main {
    grid-area: cards;
    padding: 2rem;
}

footer {
    grid-area: footer;
    padding: 1rem 2rem;
    background-color: #353535;
}

.flexbox-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Menu */

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
}

.menu-item {
    list-style: none;
    margin-right: 2rem;
    font-weight: 600;
}

.menu-item a {
    text-decoration: none;
    color:black;
}

.menu-item img {
    max-width: 20%;
}

.menu-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

/* Cards */

.card {
    overflow: hidden;
    width: 350px;
    margin: 2rem;
    background: white;
    border-radius: 5px;
}

.effect {
    /*box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 70px 40px rgba(0, 0, 0, 0.12);*/
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.17);
}

.card-image {
    width: 350px;
    height: 350px;
    display: table-cell;
    vertical-align: bottom;
}

.card-image > figcaption {
    font-size: 0.8rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.lisbon {
    background: url(images/lisbon.png) 50% 50% no-repeat;
}

.madeira {
    background: url(images/madeira.png) 50% 50% no-repeat;
}

.porto {
    background: url(images/porto.png) 50% 50% no-repeat;
}


.card-container {
    padding: 1rem;
}

button {
    padding: 1rem 2rem;
    background-color: #79BF1F;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

button > a {
    color: white;
}


/* Footer */

footer {
    display: block;
    text-align: center;
    color: white;
}

.copyright {
    margin: 1.5rem 0;
}

.social-icons {
    margin: 1.5rem 0;
}

.social-icons a {
    margin: 0 1rem;
    text-decoration: none;
    color: #D0F0A8; 
}
